* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
.disroyhat{
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.calculator {
    margin-top: 30px;
}

.calculator h2 {
    margin-bottom: 10px;
    color: #444;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

p {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}
